.search-input {
  width: 40%;
  height: 40px;
}

.spacer {
  flex: 1 1 auto;
}

.selector-panel {
  padding: 20px 40px 0px 40px;
  font-size: 16px;
  font-weight: 600;
}

.icon-button {
  margin-left: 10px;
}

.select-dropdown {
  margin-left: 50px;
}

.card-container {
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
}

.card-header {
  height: 75px;
}

.card-size {
  width: 500px;
}

.card-spacing {
  margin: 20px 20px;
  /* width: 600px; */
  width: 30%;
  flex: 1 0 27%;
}

.header-image {
  background-image: url("../../assets/game-icon.jpg");
  background-size: cover;
}

.card-content {
  margin-top: 20px;
}

.content-float-right {
  float: right;
}
